<img style="-webkit-user-select: none; width:100%;height:650px;" src="https://s-media-cache-ak0.pinimg.com/originals/a6/24/6d/a6246d5206afc5dd6ee5621267989340.jpg">
  <h4 class="white-text" id="overlay-text">
    This what happens when you see bad code.
  </h4>
  <small class="white-text" id="overlay-text-small">
        By continuously improving the design of code, we make it easier and easier to work with. If you get into the hygienic habit of refactoring continuously, you'll find that it is easier to extend and maintain code.
	<br />
	<br />
        <strong>With Refucktor you can refactor codes or post a code you think has a code smell.</strong>
  </small>
<% if (!req.user) { %>
<div id="overlay-form" class="white-text" ng-controller='SignupCtrl'>
  <form name="signup" method="POST" action="/user" novalidate>
    <div class='input-field'>
      <input id="email" type="email" ng-model="email" name="email" required>
      <label for="email">Email</label>

      <span class="help-block red-text text-lighten-3" ng-if="signup.email.$dirty">
	<p ng-show="signup.email.$error.required">Email is required.</p>
	<p ng-show="signup.email.$invalid && !signup.email.$pristine">Enter a valid email.</p>
      </span>
    </div>

    <div class='input-field'>
      <input type="password" ng-model="password" name="password"  ng-minlength="8" compare-to="confirmPassword" required>
      <label for="password">Password</label>

      <span class="help-block red-text text-lighten-3" ng-if="signup.password.$dirty">
	<p ng-show="signup.password.$error.required">Password is required</p>
	<p ng-show="signup.password.$error.minlength">Minimu password of 8 characters</p>
      </span>
    </div>

    <div class='input-field'>
      <input id="confirmation" type="password" name="confirmation" ng-model="confirmPassword" required>
      <label for="confirmation">Confirm Password</label>

      <span class="help-block red-text text-lighten-3" ng-if="signup.confirmation.$dirty">
	<p ng-show="signup.password.$error.compareTo">Password must match.</p>
	<p ng-show="signup.confirmation.$error.required">Confirmation password is required.</p>
      </span>
    </div>

    <button class="waves-effect waves-light btn" type="submit" ng-disabled="signup.$invalid">
      Signup
    </button>
  </form>
</div>
<% } %>


