<!DOCTYPE html>
<html ng-app="Refucktor">
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-material.min.css">
    <link rel="stylesheet" href="/styles/codemirror.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/materialize.css">
    <!--STYLES END-->
  </head>

  <body>

    <nav>
      <div class="nav-wrapper">
	<a href="/" class="brand-logo">Refucktor</a>
	<ul id="nav-mobile" class="right hide-on-med-and-down">
	  <% if (!req.user) { %>
	    <a href="/login">Login</a>
	  <% } else { %>
	    <li><a href="/dashboard"><%- req.user.email %></a></li>
	    <li><a href="/logout">Logout</a></li>
	  <% } %>
	</ul>
      </div>
    </nav>

    <%- body %>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/codemirror.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/ui-codemirror.js"></script>
    <script src="/js/dependencies/moment.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/dependencies/angular-animate.min.js"></script>
    <script src="/js/dependencies/angular-aria.min.js"></script>
    <script src="/js/dependencies/angular-material.min.js"></script>
    <script src="/js/dependencies/angular-moment.js"></script>
    <script src="/js/dependencies/angular-route.js"></script>
    <script src="/js/dependencies/compareTo.js"></script>
    <script src="/js/dependencies/materialize.js"></script>
    <script src="/js/dependencies/underscore.js"></script>
    <script src="/js/answer/answerDirective.js"></script>
    <script src="/js/dashboard/DashboardController.js"></script>
    <script src="/js/post/PostController.js"></script>
    <script src="/js/post/PostDirective.js"></script>
    <script src="/js/signup/SignupController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
