<div ng-controller='PostCtrl'>
  <div class="row">
    <div id="code_smells" class='col s6'>
      <h4>Code Smells</h4>
	<input ng-model='search.title' type="text" placeholder="Search">
        <p class="grey-text center-align" ng-hide="posts.length">No code to refactor :(</p>
	<ul class="collection">
	  <li class="collection-item" ng-repeat="post in posts | filter:search:strict">
	    <post-item post="post"> </post-item>
	  </li>
	</ul>
    </div>

    <div class='col s6'>
      <h4>Account</h4>
      <form ng-submit="createPost('load_posts')">
	<div class="input-field">
	  <input id="title" ng-model="formData.title" type="text" name="title">
	  <label for="title">Title</label>
	</div>

	<div class="input-field">
	  <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="formData.body" name="body"></ui-codemirror>
	</div>

	<div class="input-field">
	  <button class="btn waves-effect waves-light" type="submit">
	    Post Code Smell
	    <i class="mdi-content-send right"></i>
	  </button>
	</div>
      </form>
    </div>
  </div>
</div>

