<div ng-controller="PostCtrl" ng-init="postId='<%= req.param('id') %>'" >
  <div id="question">
    {{post.title}}
    {{post.body}}
  </div>
  <ul id="answers">
    <li ng-repeat="answer in post.answers">
      {{answer.title}}
      {{answer.body}}
    </li>
  </ul>
  <div id="answer-form">
    <form ng-submit="createPost('load_post')">
      <input ng-model="formData.title" type="text" name="title">
      <textarea ng-model="formData.body" name="body"></textarea>
      <input type='hidden' ng-model="formData.question" value="{{postId}}" ng-init="formData.question = postId">
      <input type="submit" value="submit">
    </form>
  </div>
</div>
