<div ng-controller="PostCtrl" ng-init="postId='<%= req.param('id') %>'"  class="container">

  <div id="question">
    <h5 class="red-text accent-2">{{post.title}}</h5>
    <p class="right-align">
      Asked on <span am-time-ago="post.createdAt"></span>
      <br />
      <strong>- {{post.user.email}}</strong>
    </p>
    <p class="right-align"></p>
    <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="post.body"> </ui-codemirror>
  </div>

  <h5>Answers</h5>
  <ul id="answers">
    <li ng-repeat="answer in post.answers">
      <answer-item answer="answer"> </answer-item>
    </li>
  </ul>
  <br />

  Your Answer
  <div id="answer-form">
    <form ng-submit="createPost('load_post')">
	<div class="input-field">
	  <input id="title" ng-model="formData.title" type="text" name="title">
	  <label for="title">Title</label>
	</div>

	<div class="input-field">
	  <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="formData.body" name="body" required></ui-codemirror>
	</div>

	<input type='hidden' ng-model="formData.question" value="{{postId}}" ng-init="formData.question = postId">

	<div class="input-field">
	  <button class="btn waves-effect waves-light" type="submit">
	    Submit
	    <i class="mdi-content-send right"></i>
	  </button>
	</div>
      </form>
  </div>
</div>
